<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.uns.paysys.modules.merc.dao.AuditRuleMapper">
  <resultMap id="BaseResultMap" type="com.uns.paysys.modules.merc.entity.AuditRule">
    <id column="ID" jdbcType="DECIMAL" property="id" />
    <result column="ACCOUNT_ID" jdbcType="DECIMAL" property="accountId" />
    <result column="AUDIT_OPERAND_TYPE_ID" jdbcType="DECIMAL" property="auditOperandTypeId" />
    <result column="NAME" jdbcType="VARCHAR" property="name" />
    <result column="VALID" jdbcType="VARCHAR" property="valid" />
    <result column="USED" jdbcType="DECIMAL" property="used" />
    <result column="VERSION" jdbcType="DECIMAL" property="version" />
    <result column="CREATE_USER" jdbcType="VARCHAR" property="createUser" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    <result column="UPDATE_USER" jdbcType="VARCHAR" property="updateUser" />
    <result column="UPDATE_TIME" jdbcType="TIMESTAMP" property="updateTime" />
	<collection property="stepList" ofType="com.uns.paysys.modules.merc.entity.AuditStep">
		<id property="id" column="stepList.id" />
		<id property="auditGroupId" column="stepList.auditGroupId" />
		<id property="name" column="stepList.name" />
	</collection>
  </resultMap>
  
  

  <sql id="Base_Column_List">
    ID, ACCOUNT_ID, AUDIT_OPERAND_TYPE_ID, NAME, VALID, USED, VERSION, CREATE_USER, CREATE_TIME, 
    UPDATE_USER, UPDATE_TIME
  </sql>
  
  <sql id="Ar_Base_Column_List">
    ar.ID, ar.ACCOUNT_ID, ar.AUDIT_OPERAND_TYPE_ID, ar.NAME, ar.VALID, ar.USED, ar.VERSION, ar.CREATE_USER, ar.CREATE_TIME, 
    ar.UPDATE_USER, ar.UPDATE_TIME
  </sql>
  

  <select id="selectByPrimaryKey" parameterType="java.math.BigDecimal" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from AUDIT_RULE
    where ID = #{id,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.math.BigDecimal">
    delete from AUDIT_RULE
    where ID = #{id,jdbcType=DECIMAL}
  </delete>


  <insert id="insert" parameterType="com.uns.paysys.modules.merc.entity.AuditRule">
    insert into AUDIT_RULE (ID, ACCOUNT_ID, AUDIT_OPERAND_TYPE_ID, 
      NAME, VALID, USED, 
      VERSION, CREATE_USER, CREATE_TIME, 
      UPDATE_USER, UPDATE_TIME)
    values (#{id,jdbcType=DECIMAL}, #{accountId,jdbcType=DECIMAL}, #{auditOperandTypeId,jdbcType=DECIMAL}, 
      #{name,jdbcType=VARCHAR}, #{valid,jdbcType=VARCHAR}, #{used,jdbcType=DECIMAL}, 
      #{version,jdbcType=DECIMAL}, #{createUser,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateUser,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.uns.paysys.modules.merc.entity.AuditRule">
    insert into AUDIT_RULE
     <selectKey resultType="java.lang.Long" keyProperty="id" order="BEFORE">
      	select audit_rule_sequence.nextval from dual
     </selectKey>
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="accountId != null">
        ACCOUNT_ID,
      </if>
      <if test="auditOperandTypeId != null">
        AUDIT_OPERAND_TYPE_ID,
      </if>
      <if test="name != null">
        NAME,
      </if>
      <if test="valid != null">
        VALID,
      </if>
      <if test="used != null">
        USED,
      </if>
      <if test="version != null">
        VERSION,
      </if>
      <if test="createUser != null">
        CREATE_USER,
      </if>
      <if test="createTime != null">
        CREATE_TIME,
      </if>
      <if test="updateUser != null">
        UPDATE_USER,
      </if>
      <if test="updateTime != null">
        UPDATE_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=DECIMAL},
      </if>
      <if test="accountId != null">
        #{accountId,jdbcType=DECIMAL},
      </if>
      <if test="auditOperandTypeId != null">
        #{auditOperandTypeId,jdbcType=DECIMAL},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="valid != null">
        #{valid,jdbcType=VARCHAR},
      </if>
      <if test="used != null">
        #{used,jdbcType=DECIMAL},
      </if>
      <if test="version != null">
        #{version,jdbcType=DECIMAL},
      </if>
      <if test="createUser != null">
        #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null">
        #{updateUser,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  


  <update id="updateByPrimaryKeySelective" parameterType="com.uns.paysys.modules.merc.entity.AuditRule">
    update AUDIT_RULE
    <set>
      <if test="accountId != null">
        ACCOUNT_ID = #{accountId,jdbcType=DECIMAL},
      </if>
      <if test="auditOperandTypeId != null">
        AUDIT_OPERAND_TYPE_ID = #{auditOperandTypeId,jdbcType=DECIMAL},
      </if>
      <if test="name != null">
        NAME = #{name,jdbcType=VARCHAR},
      </if>
      <if test="valid != null">
        VALID = #{valid,jdbcType=VARCHAR},
      </if>
      <if test="used != null">
        USED = #{used,jdbcType=DECIMAL},
      </if>
      <if test="version != null">
        VERSION = #{version,jdbcType=DECIMAL},
      </if>
      <if test="createUser != null">
        CREATE_USER = #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null">
        UPDATE_USER = #{updateUser,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ID = #{id,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.uns.paysys.modules.merc.entity.AuditRule">
    update AUDIT_RULE
    set ACCOUNT_ID = #{accountId,jdbcType=DECIMAL},
      AUDIT_OPERAND_TYPE_ID = #{auditOperandTypeId,jdbcType=DECIMAL},
      NAME = #{name,jdbcType=VARCHAR},
      VALID = #{valid,jdbcType=VARCHAR},
      USED = #{used,jdbcType=DECIMAL},
      VERSION = #{version,jdbcType=DECIMAL},
      CREATE_USER = #{createUser,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      UPDATE_USER = #{updateUser,jdbcType=VARCHAR},
      UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP}
    where ID = #{id,jdbcType=DECIMAL}
  </update>
  
  
  
  <select id="getAuditRule" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from AUDIT_RULE
    where audit_operand_type_id= #{auditOperandTypeId,jdbcType=DECIMAL}
    and valid = 1
  </select>
  
    <select id="findList" resultMap="BaseResultMap">
	    select 
	    <include refid="Ar_Base_Column_List" />
	    from AUDIT_RULE ar,AUDIT_OPERAND_TYPE aot
	    where ar.audit_operand_type_id = aot.id
	    and aot.system_type = 1
	    order by ar.audit_operand_type_id, ar.update_time desc
  </select>
  
  <select id="checkExist" resultType="java.lang.Long">
  	select 1
  	from AUDIT_RULE
  	where valid = 1
  	and audit_operand_type_id = #{auditOperandTypeId,jdbcType=DECIMAL}
  </select>
  
  
  
  <!-- <select id="get" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from AUDIT_RULE
    where id= #{id,jdbcType=DECIMAL}
  </select> -->
  
  
  <select id="get" resultMap="BaseResultMap" parameterType="java.lang.Long" >
		SELECT
			<include refid="Ar_Base_Column_List"/>,
			t.id AS "stepList.id",
			t.name AS "stepList.name",
			t.audit_group_id AS "stepList.auditGroupId"
		FROM audit_rule ar
		LEFT JOIN audit_step t on ar.id = t.audit_rule_id
		WHERE ar.id= #{id,jdbcType=DECIMAL}
		order by t.id
	</select>
  
</mapper>